* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(243, 246, 249);
}

.profile {
  width: 250px;
  height: 330px;
  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 32px;
  color: #768696;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(228, 233, 240);
  box-shadow: 2px 5px 2px #768696;
  border-radius: 6px;
}
.description {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.name {
  font-size: 18px;
  color: #122236;
  font-weight: 700;
}
.tag {
  font-weight: 400;
}
.location {
  font-weight: 400;
}
.stats {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  display: flex;
  background: rgb(243, 246, 249);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  list-style: none;
}
.stats li:nth-child(2) {
  border-right: 2px solid rgba(228, 233, 240);
  border-left: 2px solid rgba(228, 233, 240);
}
.stats li {
  display: flex;
  border-top: 2px solid rgba(228, 233, 240);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33333%;
  height: 70px;
}
.label {
  font-size: 12px;
  font-weight: 400;
}
.quantity {
  color: #1f3349;
  font-weight: 900;
}
