.statistics {
  min-height: 130px;
}
.title {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0px;
  background: #fff;
  color: #475965;
  font-family: 'Proxima Nova';
  font-weight: bold;
}
.statList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 60px;
  text-shadow: 1px 1px 1px black;
}
.label {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #ffffff;
  font-family: 'Proxima Nova';
  font-weight: 300;
}
.percentage {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #ffffff;
  font-family: 'Proxima Nova';
}
